@model CVisits.Models.LoginModel

@{
    ViewBag.Title = "Iniciar sesión";
}

@*@section featured {
    <div class="jumbotron">
        <div class="container">
            <h1>Login</h1>
            <h2>Customer Visits Magament System - Metso Minerals</h2>
            <p>
                You must be registered to use the system. In case of any trouble you can contact <a title="Metso IT Service Desk" href="@Url.Action("Contact", "Home")">Metso IT Service Desk.</a>
                for help.
            </p>
        </div>
    </div>
}*@

<div class="row">

    <div class="col-md-6">
        <h2>Bienvenido</h2>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
             
            <div class="form-group">
                @*@Html.LabelFor(m => m.UserName)*@
                Username
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Enter email" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="form-group">
                @*@Html.LabelFor(m => m.Password)*@
                Password
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter your password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @*@Html.LabelFor(m => m.RememberMe)*@
                    <label for="RememberMe">Remember Me?</label>
                </label>
            </div>
            
            <button type="submit" class="btn btn-default">Login</button>                
        }

    </div>

</div>









@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
