@model CVisits.ViewModels.VisitaEditaData
@{
    ViewBag.Title = "Edit";
    DateTime fechaPlanificada = Model.Visita.FechaPlanificada;
    DateTime fechaTermino = Model.Visita.FechaTermino;                
}



<script type="text/javascript">
    $(document).ready(function () {
        //Todos los select son select2...
        $("select").select2();

    });
</script>

<!-- VISITA -->
<div class="row">

    <div class="col-md-5">

        <h2>Edit Visit</h2>

        @using (Html.BeginForm())
        {
    
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


            @Html.HiddenFor(model => model.Visita.VisitaID)
            @Html.HiddenFor(model => model.Visita.FechaIngreso)       

            <div class="form-group">
                @Html.LabelFor(model => model.Visita.FechaPlanificada, "Visit's Date")
                @Html.TextBoxFor(model => model.Visita.FechaPlanificada, new { @class = "form-control", @Value = fechaPlanificada.ToString("yyyy-MM-dd HH:mm") })
                @Html.ValidationMessageFor(model => model.Visita.FechaPlanificada)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Visita.FechaTermino, "End Date")
                @Html.TextBoxFor(model => model.Visita.FechaTermino, new { @class = "form-control", @Value = fechaTermino.ToString("yyyy-MM-dd HH:mm") })
                @Html.ValidationMessageFor(model => model.Visita.FechaTermino)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Visita.Descripcion, "Description")
                @Html.TextAreaFor(model => model.Visita.Descripcion, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.Visita.Descripcion)
            </div> 
            
            <div class="form-group">
                @Html.LabelFor(model => model.Visita.EstadoVisitaID, "Visit Status")
                @Html.DropDownList("EstadoVisitaID", String.Empty)
                @Html.ValidationMessageFor(model => model.Visita.EstadoVisitaID)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Visita.LineaProductoID, "Product Line")
                @Html.DropDownList("LineaProductoID", String.Empty)
                @Html.ValidationMessageFor(model => model.Visita.LineaProductoID)
            </div>            
            
            <div class="form-group">
                @Html.LabelFor(model => model.Visita.TipoVisitaID, "Visit Type")
                @Html.DropDownList("TipoVisitaID", String.Empty)
                @Html.ValidationMessageFor(model => model.Visita.TipoVisitaID)
            </div> 

            <div class="form-group">
                @Html.LabelFor(model => model.Visita.ClienteID, "Client")
                @Html.DropDownList("ClienteID", String.Empty)
                @Html.ValidationMessageFor(model => model.Visita.ClienteID)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Visita.UserId, "Visit scheduled by...")
                @Html.DropDownList("UserId", String.Empty)
                @Html.ValidationMessageFor(model => model.Visita.UserId)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Visita.NotificaCliente, "Notify Client?")
                @Html.CheckBoxFor(model => model.Visita.NotificaCliente)
                <span class="help-block">If check, Client's Contact will be notified about the visit.
                </span>
                @Html.ValidationMessageFor(model => model.Visita.NotificaCliente)
            </div>              

            
            <div class="btn-group">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-floppy-save"></span>Save Changes
                </button>

                <a href="@Url.Action("AsignarAcciones", "Visita", new { VisitaID = Model.Visita.VisitaID })" class="btn btn-info"><span class="glyphicon glyphicon-plus-sign"></span>Assign Actions</a>
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary"><span class="glyphicon glyphicon-calendar"></span>To Calendar</a>
            </div>

        }

    </div>
</div>

@if (Model.Acciones.Count() > 0)
{
    <div class="row">
        <h2>Actions Assigned</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Date Added</th>
                    <th>Responsible</th>
                    <th>Status</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model.Acciones)
                {
                    <tr>
                        <td>@item.FechaAccion.ToShortDateString()</td>
                        <td>@item.AccionResponsableID</td>
                        <td>@item.AccionEstadoID</td>
                        <td>@item.Descripcion</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    
    <div class="btn-group">
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-floppy-save"></span>Save Changes
        </button>
        <a href="@Url.Action("AsignarAcciones", "Visita", new { VisitaID = Model.Visita.VisitaID })" class="btn btn-info"><span class="glyphicon glyphicon-plus-sign"></span>Assign Actions</a>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary"><span class="glyphicon glyphicon-calendar"></span>To Calendar</a>
    </div>
    
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
