@model CVisits.Models.Visita

@{
    ViewBag.Title = "Edit";
    DateTime fechaPlanificada = Model.FechaPlanificada;
    DateTime fechaTermino = Model.FechaTermino;
    
        
    
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#FechaPlanificada").datetimepicker({
            dateFormat: 'yy-mm-dd',
            timeFormat: 'hh:mm'
        });


        $("#FechaTermino").datetimepicker({
            dateFormat: 'yy-mm-dd',
            timeFormat: 'hh:mm'
        });
    });
</script>

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Visita</legend>

        @Html.HiddenFor(model => model.VisitaID)
        @Html.HiddenFor(model => model.FechaIngreso)
       

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaPlanificada)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FechaPlanificada, new { @Value = fechaPlanificada.ToString("yyyy-MM-dd HH:mm") })
            @Html.ValidationMessageFor(model => model.FechaPlanificada)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaTermino)
        </div>
        <div class="editor-field">            
            @Html.TextBoxFor(model=>model.FechaTermino, new { @Value = fechaTermino.ToString("yyyy-MM-dd HH:mm")})
            @Html.ValidationMessageFor(model => model.FechaTermino)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoVisitaID, "EstadoVisita")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EstadoVisitaID", String.Empty)
            @Html.ValidationMessageFor(model => model.EstadoVisitaID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LineaProductoID, "LineaProducto")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LineaProductoID", String.Empty)
            @Html.ValidationMessageFor(model => model.LineaProductoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipoVisitaID, "TipoVisita")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TipoVisitaID", String.Empty)
            @Html.ValidationMessageFor(model => model.TipoVisitaID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClienteID, "Cliente")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClienteID", String.Empty)
            @Html.ValidationMessageFor(model => model.ClienteID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
